* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #c8e6f5;
  display: flex;
  justify-content: center;
}

#page-settings {
  width: 375px;
  min-height: 100vh;
  background-color: #dff0fb;
}